.vscode/
__pycache__/
*.py[cod]
.venv/
venv/
.DS_Store
.env

# Generated simulation data
data/*
!data/raw/.gitkeep
!data/raw_simulator/.gitkeep
!data/raw_user/.gitkeep
!data/feature_store/.gitkeep
!data/feature_store_simulator/.gitkeep
!data/feature_store_user/.gitkeep

# Generated feature store
data/feature_store/*
!data/feature_store/.gitkeep

# Trained models
models/*
!models/.gitkeep
models_simulator/*
!models_simulator/.gitkeep
models_user/*
!models_user/.gitkeep
models_ecommerce/*
!models_ecommerce/.gitkeep


# Generated reports / plots / optimization outputs
results/*
!results/.gitkeep
results_simulator/*
!results_simulator/.gitkeep
results_user/*
!results_user/.gitkeep
results_ecommerce/*
!results_ecommerce/.gitkeep 

#finance
models_finance/*
results_finance/*


build/
results_distributed/